html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: rgba(230, 94, 40, 1);
  max-width: 400%;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Built Titling";
 src: 
    url("./font/BuiltTitlingRg-Regular.woff2") format("woff2"),
    url("./font/BuiltTitlingRg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.marqueee {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 10px;
  white-space: nowrap;
  will-change: transform;
  animation: movementMarquee linear 16s infinite;
}
.marqueee div:last-child {
  position: absolute;
  left: 100%;
  top: 0;
}

@keyframes movementMarquee {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

.container_main {
  position: fixed;
  float: left;
  width: 50%;
  left: 44.4%;
  top: 6%;
  bottom: 10%;
  order: 1;
}
.container_one {
  position: fixed;

  float: left;
  width: 50%;
  left: 44.4%;
  top: 6%;
  bottom: 35%;
}

.container_logo {
  position: relative;
}
.bio {
  bottom: 2%;
  position: absolute;
  left: 0;
  width: 100%;
}

.logo_name {
  object-fit: cover;
  position: absolute;
  width: 100%;
  top: 0%;
}

.logo_animated {
  object-fit: cover;
  position: absolute;
  width: 55%;
  max-width: 500px;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 50%);
  z-index: 1;
}
.block-1-p {
  color: rgba(230, 94, 40, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 0%;
  width: 95%;
}

.container_bottom {
  position: fixed;
  width: 50%;
  left: 44.4%;
  height: 30%;
  top: 69%;
}

.container_stock {
  bottom: 28%;
  width: 100%;
  left: 44.4%;
}

.img-stockists {
  height: 60px;
  left: 0%;
  bottom: 30%;
}

.stockists-left {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: -0.9px;
  position: absolute;
  left: 30%;
  color: rgba(230, 94, 40, 1);
  text-decoration: none;
  text-align: left;
  top: 10%;
}

.stockists-right {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  text-align: right;
  left: 67%;
  color: rgba(230, 94, 40, 1);
  text-decoration: none;
  top: 10%;
}

.container_contact {
  width: 100%;
  position: absolute;
  height: 74px;
  left: 0%;
  bottom: 40%;
}

.img-contact {
  position: absolute;
  height: 60px;
  left: 0%;
  bottom: 3%;
}

.email {
  left: 56%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  position: fixed;
  bottom: 13%;
}

.instagram {
  bottom: 13%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: fixed;
  text-align: right;
  left: 84%;
  color: rgba(230, 94, 40, 1);
  text-decoration-line: none;
}

#banner1 {
  color: rgba(230, 94, 40, 1);
  font-family: "Built Titling";
  direction: left;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 2px;
  white-space: nowrap;
  pointer-events: none;
}

.button_shop {
  float: left;
  visibility: show;
  object-fit: cover;
  position: fixed;
  height: 110px;
  left: 2%;
  top: 6%;
}

.image-container {
  float: left;
  width: 35%;
  margin-left: 5%;
}
.image-container img {
  width: 100%;
  height: auto;
  margin-top: 1%;
  margin-bottom: 10%;
  display: flex;
  order: 2;
}
/* .SSW1 {
  width: 649px;
  height: 924px;
  left: 90px;
  top: 25px;
  position: relative;
} */

.img {
  position: relative;
  width: 679px;
  height: 966px;
  float: none;
  top: 9%;
}

.sidebar {
  position: fixed;
  bottom: 31%;
  left: 2%;
  display: flex;
}


.image-WW2526 { position: fixed;
  left: 1.9%;
  height: 20px;
  bottom: 36%;
}

.image-SS25 { position: fixed;
  left: 1.9%;
  height: 20px;
  bottom: 29%;
}
.image-AW24 {
  position: fixed;
  left: 1.9%;
  height: 20px;
  bottom: 25%;
}
.image-SS2024 {
  position: fixed;
  left: 1.9%;
  height: 20px;
  bottom: 23%;
}

.img-N2324 {
  position: fixed;
  left: 1.9%;
  height: 20px;
  bottom: 19%;
}

.img-2324 {
  position: fixed;
  left: 2%;
  height: 20px;
  bottom: 15%;
}

.img-aw23 {
  position: fixed;
  left: 1.9%;
  height: 20px;
  bottom: 11%;
}


.img-collection {
  height: 38px;
  margin-bottom: 35px;
}

#banner2 {
  color: rgba(230, 94, 40, 1);
  top: auto;
  bottom: 0%;
  font-family: "Built Titling";
  direction: left;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 2px;
  white-space: nowrap;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: rgba(230, 94, 40, 1);
  text-decoration-color: none;
}
@media (min-width: 575.98px) {
  .hide-desktop {
    display: none !important;
  }
}

/* mobile */
@media (max-width: 575.98px) {
  .hide-mobile {
    display: none !important;
  }

  .container_main {
    order: 1;
    display: flex;
    width: 90%;
    position: relative;
    left: 3%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
  }

  .container_one {
    order: 1;
    display: flex;
    width: 90%;
    position: relative;
    left: 3%;
    justify-content: center;
    margin-top: 55%;
  }

  .container_logo {
    position: relative;
  }

  .block-1-p {
    position: relative;
    bottom: auto;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.5px;
    top: auto;
    width: 90%;

  }

  .stockists-left { 
    margin-left: 8%;
    font-size: 11px;
    
  }

  .stockists-right {
    font-size:11px ;
    margin-right: 0%;
  }

.email {
    left: 45%;
    font-size: 11px;
    line-height: 25px;
    position: relative;
    bottom: 35%;
}

.instagram {
display: none;

}

  .sidebar { display: none; }

.container_contact {
  position: relative;
  top: auto;
    bottom: auto;
    left: auto;
    width: 80%;
}

  .container_bottom {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    width: 80%;
    order: 2;
    margin-top: 8%;
  }

  .img-contact {
    position: relative;
    left: auto;
    bottom: auto;
    height: 50%;
    margin-top: 5%;
  }

  .button_shop {
    margin-bottom: 3%;
    position: fixed;
    left: 8%;
    height: 10%;
    margin-top: 120%;
  }
  .image-container {
    width: 90%;
    order: 2;
    position: relative;
    justify-content: center;
 
  }


  .img-stockists {

    height: 40px;
    left: 0%;
    bottom: 30%;
  }
  .container_logo {
    position: fixed;
    top: 8%;
    width: 90%;
    display: flex;
    z-index: 5;
  }
}

.logo_name {
  object-fit: cover;
  position: absolute;
  width: 100%;
  top: 0%;
  align-items: center;
}

.logo_animated {
  object-fit: cover;
  position: absolute;
  align-items: center;
  /* left: 50%;
  top: 20%;
  transform: translate(-50, 0); */
}



.banner1 {
  color: rgba(230, 94, 40, 1);
  font-family: "Built Titling";
  direction: left;
  font-style: normal;
  font-size: 10px;
  letter-spacing: 2px;
  white-space: nowrap;
  pointer-events: none;
}



@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}
